@import '../App.scss';


.container-table{
     background:#fff;
}
.custom-table{
    border-collapse: separate;
    border-spacing: 0 2px;
    font-size: 12px;
    margin: auto;
    width:888px;

    thead{
        background-color: rgba($color_1, 0.2);
        vertical-align: middle;
        padding:0 15px;
        border:0;
        text-align: left;
        color:$color_4;
        font-weight: $bold;
        tr{
            height: 45px;
        }
    }
    th{
        border: 0;
        padding:0 16px;
    }
    tr{
        height:52px;
        vertical-align: middle;
        
    }

    tbody {
        td{
            border: 1px solid #353B404D;
            vertical-align: middle;
            border-left:0;
            border-right:0;
            padding:0 16px;
        }
        tr td:first-child{
            border-left: 1px solid #353B404D;
        }
        tr td:last-child {
            border-right: 1px solid #353B404D;
            width:177px;
        }
    }
    .col-name{
        font-weight: $bold;
        color: $color_3;
    }
    .col-email{
        color:$color_4;
        font-weight:$regular;
    }

    .level{
        /*width:88px;*/
        width:120px;
        height:23px;
        border-radius: 12px;
        color: #fff;
        font-weight: $bold;
        text-align: center;
        line-height: 15px;
        padding: 4px 16px;
        span{
            text-transform: lowercase;
            display: block;
            &:first-letter {
                text-transform: uppercase;
            }
        }

    }

    .manager{
        background:$color_manager;
    }
    .operator{
        background:$color_operator;
    }
    .administrator{
        background:$color_administrator;
    }
    .col-status{
        font-weight: $bold;
        div{
            display: inline-block;
            vertical-align: middle;
            width:14px;
            height:14px;
            border-radius: 50%;
        }
        span{
            display: inline-block;
            vertical-align: middle;
            margin-left:8px;
        }        
    }
    .status-active{
        color:$color_active;
        div{
            background-color: $color_active;
        }
    }
    .status-inactive{
        color:$color_inactive;
        div{
            background-color: $color_inactive;
        }            
    }

    .icon-action {
        width: 24px;
        height: 24px;
        display: inline-block;
        vertical-align: middle;
        margin: 0 8px;
        cursor:pointer;
        img{
            width: 100%;
        }
    } 
    .col-actions .icon-action:first-child{
        margin-left: 0;
    }
    .col-actions .icon-action:last-child{
        margin-right: 0;
    }

}
.table-responsive{
    width: 100%;
    max-width: 888px;
}
.container-table{
    width:936px;
    margin:auto;
    box-shadow: 0px 3px 5px #0000001A;
    padding:24px;
    border-radius: 10px;
    max-width:100%;
}
.container {
    max-width: 100%;
}
.title{
    font-size: 20px;
    font-weight: $bold;
    margin-bottom: 24px;
    p{
        margin-bottom:0
    }
}

.line-grad{
    width:20px;
    height: 4px;
    border-radius: 1px;
    @include linear-gradient(90deg, $color_1, $color_2);
  }




