@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$color_1: #1EB6C1;
$color_2: #84CAC7;
$color_3: #34A2D9;
$color_4:#353B40;

$color_manager:$color_3;
$color_operator:#FF9F12;
$color_administrator:$color_2;

$color_active:$color_1;
$color_inactive:#BC2121;
$bold:700;
$regular:400;

@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient($direction, $color-stops);
  background: linear-gradient($direction, $color-stops);
}


body{
  font-family: 'Montserrat', sans-serif;
}
.App{
  background:#FAFAFB;
  padding:40px 0;
  min-height: 100vh;
}
.container-logo{
  width: 275.67px;
  margin:0 auto 60px auto;
  .logo-img{
    width:100%;
  }
}
